<html>
<head>
	
    <% include partials/globals %>
    
	<link rel="stylesheet" type="text/css" href="./resources/internal/page.css">
	<script src="./resources/internal/page.js" type="text/javascript"></script>
	
</head>
<body style="background: black">
    <div class="ui inverted raised segment">
      <p>You have committed a grave sin. You tried to change/mask/hide your identity from the stink point identity matrix and authentication core but much like real life, there is no hiding from who you are
      and the things you have done. If a lowly website like Stinkpoints.com can keep track of your identity who knows who’s keeping track of you, someone’s backing up your data.. and it isn’t you. There will be consequences.
      (I spent DAYS on this, of course I am going to keep track of your device THERE IS NO CHEATING THE SYSTEM, ACCEPT YOUR DOOM)
      
      <br>
      <br>
      Your action has been logged and will be reviewed by the appropriate commits.
      
      </p>
        <div class="alignedcenter">
        <a href="/" class="ui fullwide button white">
            Return to StinkPoints.com
        </a>
      </div>
    </div>
</body>
</html>

<script>
    
    
</script>

<script type="text/template" data-template="playercard">
    <% include partials/templates/playercard_mobile %>
</script>
