<html>
<head>
	
    <% include partials/globals %>
    
	<link rel="stylesheet" type="text/css" href="./resources/internal/page.css">
	<script src="./resources/internal/page.js" type="text/javascript"></script>
	
</head>
<body>

    <div class="ui center aligned container">
        <h3 class="ui center aligned">STINK POINTS</h3>
        <div id="player-tablerow" class="ui cards centered">
            
        </div>
    </div>
</body>
</html>


<script type="text/template" data-template="playercard">
    <% include partials/templates/playercard %>
</script>
