<html>
<head>
	
    <% include partials/globals %>
     
</head>
<body style="background: black; margin: 100px 100px">
    <div class="ui inverted raised segment">
        
        YOU JUST USED AN <%=item.itemtype%> ITEM ON: <%=target.username%> SAVAGE.
        
        <div class="alignedcenter">
        <a href="/" class="ui fullwide button white" style="width: calc(100% - 20px); margin: 25px 10px 11px 10px;">
            Return to StinkPoints.com
        </a>
      </div>
    </div>
</body>
</html>

<script type="text/template" data-template="playercard">
    <% include partials/templates/playercard_mobile %>
</script>

