<html>
<head>
	
    <% include partials/globals %>
     
</head>
<body style="background: black; margin: 100px 100px">
    <div class="ui inverted raised segment">
        Congratulations, by some act of god you found/received a Stink Code and retrieved an item. 
        <br>
        <br>
        The Item you recieve was a <span style="color: gold;"><%=item.itemtype%></span>!
        <div class="alignedcenter">
        <a href="/" class="ui fullwide button white" style="width: calc(100% - 20px); margin: 25px 10px 11px 10px;">
            Return to StinkPoints.com
        </a>
      </div>
    </div>
</body>
</html>

<script type="text/template" data-template="playercard">
    <% include partials/templates/playercard_mobile %>
</script>
