<tr class="stinkitem" id="${id}">
    <td class="itemtype"></td>
    <td>
        <form class="ui form">
            <div class="field">
                <div class="two fields">
                    <div class="alignedcenter ui button green disabled">
                        Use Item
                    </div>
                    <select class="selector">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </form>
  </td>
  
</tr>