<div id="${id}" class="card">
  <div class="content">
    <div class="ui statistic">
        <div class="value">
          ${points}
        </div>
        <div class="label">
          Stink Points
        </div>
    </div>
    <div class="header">${displayname}</div>
    <div class="description">
      ${desc}
    </div>
  </div>
  <div class="alignedcenter ui button red">
    <i class="add icon"></i>
    Give Stink Point
  </div>
</div