<tr class="playercard" id="${id}" >
  <td>
      <div class="content" >
        <div class="resize" style="font-weight: bold;">${username}</div>
        <div class="sub header">
      </div>
  </h4>
  </td>
  <td class="ui alignedcenter">
    <div class="ui statistic">
      <div id="" class="value" style="font-size: 2rem!important;">
        ${points}
      </div>
      <div class="label">
        Stink Points
      </div>
    </div>
  </td>
  <td class="alignedcenter">
    <div class="ui fullwide button red">
      Give Stink Point
    </div>
  </td>
</tr>